/* ========================= INIT ========================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, .container, .footer {
  zoom: 1; }
  .clearfix:before, .container:before, .footer:before, .clearfix:after, .container:after, .footer:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, .container:after, .footer:after {
    clear: both; }

img.no-resp {
  width: auto;
  height: auto; }

.gray_box, .blue_box {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  background: #e9e9e9; }
  @media (min-width: 768px) {
    .gray_box, .blue_box {
      padding: 40px; } }
  .old-ie .gray_box, .old-ie .blue_box {
    padding: 40px; }

.blue_box {
  background: #3a4146;
  padding: 20px;
  color: #fff;
  font-size: 0.8em; }
  .blue_box h2 {
    color: #fff; }
  .blue_box table {
    width: 100%; }

.btn {
  margin-top: 15px;
  display: block;
  width: 100%;
  padding: 10px;
  background: #868286;
  color: #fff;
  font-family: 'toyota_displaybold', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  text-align: center; }
  @media (min-width: 768px) {
    .btn {
      width: auto;
      display: inline-block;
      text-align: left;
      padding: 15px 35px; } }
  .old-ie .btn {
    width: auto;
    display: inline-block;
    text-align: left;
    padding: 15px 35px; }
  .btn:hover {
    background: #231c23; }

.btn-big {
  padding: 15px 35px; }

span.label {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.8em;
  color: #fff;
  padding: 0px 4px;
  margin-right: 5px;
  text-transform: uppercase; }

span.label.red {
  background: #ed0000; }

span.label.gray {
  background: #6b6b6b; }

span.label.white {
  background: #fff;
  color: #000; }

span.label.black {
  background: #000; }

span.label.blue {
  background: #4182c4; }

span.hyblabel {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 0.5em;
  color: #fff;
  padding: 0px 4px;
  margin-right: 5px;
  text-transform: uppercase; }

span.label.orange {
  background: #ff512d; }

span.label.electrogrey {
  background: #545559; }

span.label.trueblue {
  background: #a5c2e5; }

span.label.pearl {
  background: #d7dcd9;
  color: #000; }

span.label.greymetallic {
  background: #dbded1; }

span.label.bronze {
  background: #b8afa2; }

span.label.bronzelc {
  background: #6b5e4d; }

span.label.green {
  background: #132603; }

span.label.silver {
  background: #f2f2f0;
  color: #000; }

span.label.darkblue {
  background: #616678; }

span.label.darkbrown {
  background: #2c1e0d; }

span.label.blue, span.hyblabel.blue {
  background: #4182c4; }

span.hyblabel.after {
  margin-right: 0;
  margin-left: 10px;
  float: right !important; }

span.label.after {
  margin-right: 0;
  margin-left: 10px; }

/* ========================= GRID ========================= */
.container {
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  width: 320px; }
  @media (min-width: 480px) {
    .container {
      width: 90%; } }
  .old-ie .container {
    width: 90%; }
  @media (min-width: 768px) {
    .container {
      width: 730px; } }
  .old-ie .container {
    width: 730px; }
  @media (min-width: 1024px) {
    .container {
      width: 958px; } }
  .old-ie .container {
    width: 958px; }
  @media (min-width: 1280px) {
    .container {
      width: 1130px; } }
  .old-ie .container {
    width: 1130px; }

/* ========================= TYPOGRAPHY ========================= */
@font-face {
  font-family: 'toyota_displaybold';
  src: url("../fonts/toyotadisplay_0-webfont.eot");
  src: url("../fonts/toyotadisplay_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/toyotadisplay_0-webfont.woff") format("woff"), url("../fonts/toyotadisplay_0-webfont.ttf") format("truetype"), url("../fonts/toyotadisplay_0-webfont.svg#toyota_displaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'toyota_displayregular';
  src: url("../fonts/toyotadisplay_rg-webfont.eot");
  src: url("../fonts/toyotadisplay_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/toyotadisplay_rg-webfont.woff") format("woff"), url("../fonts/toyotadisplay_rg-webfont.ttf") format("truetype"), url("../fonts/toyotadisplay_rg-webfont.svg#toyota_displayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-size: 100%;
  line-height: 100%; }

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.9em; }

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

strong {
  font-family: 'toyota_displayregular', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'toyota_displaybold', sans-serif;
  margin-bottom: 10px; }

h1 {
  color: #231c23;
  font-size: 1.3em;
  line-height: 1.2em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 1.4em;
      line-height: 1.2em; } }
  .old-ie h1 {
    font-size: 1.4em;
    line-height: 1.2em; }
  @media (min-width: 1280px) {
    h1 {
      font-size: 1.5em;
      line-height: 1.4em; } }
  .old-ie h1 {
    font-size: 1.5em;
    line-height: 1.4em; }

h2 {
  color: #b50023;
  font-size: 1.2em;
  line-height: 1.1em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.3em;
      line-height: 1.1em; } }
  .old-ie h2 {
    font-size: 1.3em;
    line-height: 1.1em; }
  @media (min-width: 1280px) {
    h2 {
      font-size: 1.3em;
      line-height: 1.1em; } }
  .old-ie h2 {
    font-size: 1.3em;
    line-height: 1.1em; }

.red {
  color: #b50023; }

h3 {
  font-size: 1.1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h3 {
      font-size: 1.2em;
      line-height: 1em; } }
  .old-ie h3 {
    font-size: 1.2em;
    line-height: 1em; }
  @media (min-width: 1280px) {
    h3 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  .old-ie h3 {
    font-size: 1.3em;
    line-height: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h4 {
      font-size: 1.1em;
      line-height: 1em; } }
  .old-ie h4 {
    font-size: 1.1em;
    line-height: 1em; }
  @media (min-width: 1280px) {
    h4 {
      font-size: 1.2em;
      line-height: 1.1em; } }
  .old-ie h4 {
    font-size: 1.2em;
    line-height: 1.1em; }

h5 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h5 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  .old-ie h5 {
    font-size: 1.3em;
    line-height: 1.2em; }
  @media (min-width: 1280px) {
    h5 {
      font-size: 1.1em;
      line-height: 1em; } }
  .old-ie h5 {
    font-size: 1.1em;
    line-height: 1em; }

h6 {
  font-size: 1em;
  line-height: 1em; }
  @media (min-width: 768px) {
    h6 {
      font-size: 1.3em;
      line-height: 1.2em; } }
  .old-ie h6 {
    font-size: 1.3em;
    line-height: 1.2em; }
  @media (min-width: 1280px) {
    h6 {
      font-size: 1em;
      line-height: 1em; } }
  .old-ie h6 {
    font-size: 1em;
    line-height: 1em; }

p {
  margin-bottom: 15px; }
  p:last-of-type {
    margin-bottom: 0; }

/* ========================= GLOBAL ========================= */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.topbar {
  font-size: 0.8em; }
  .topbar .container {
    position: relative; }
  .topbar img.site-logo {
    position: absolute;
    z-index: 999; }
  .topbar ul.lang-select {
    float: right;
    list-style: none;
    margin: 0;
    padding: 20px 0; }
    .topbar ul.lang-select li {
      display: block;
      float: left;
      opacity: .60;
      filter: alpha(opacity=60);
      -ms-filter: "alpha(opacity=$value)";
      -khtml-opacity: .60;
      -moz-opacity: .60; }
      .topbar ul.lang-select li a {
        display: block;
        float: left;
        padding: 10px 20px 8px 40px;
        margin-right: 1px;
        background-color: #e9e9e9;
        color: #989b9e;
        font-family: 'toyota_displaybold', sans-serif; }
    .topbar ul.lang-select li.active {
      opacity: .99;
      filter: alpha(opacity=99);
      -ms-filter: "alpha(opacity=$value)";
      -khtml-opacity: .99;
      -moz-opacity: .99; }
      .topbar ul.lang-select li.active a {
        color: #3c4349; }
    .topbar ul.lang-select li.nl a {
      background: url(../images/flag-nl.jpg) 15px center no-repeat #e9e9e9; }
    .topbar ul.lang-select li.fr a {
      background: url(../images/flag-fr.jpg) 15px center no-repeat #e9e9e9; }
    .topbar ul.lang-select li:first-of-type a {
      -moz-border-radius: 10px 0 0 10px;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 10px;
      border-radius: 10px 0 0 10px; }
    .topbar ul.lang-select li:last-of-type a {
      margin-right: 0;
      -moz-border-radius: 0 10px 10px 0;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -webkit-border-bottom-left-radius: 0;
      border-radius: 0 10px 10px 0; }

.header {
  position: relative; }
  .header .header-img {
    display: none; }
    @media (min-width: 768px) {
      .header .header-img {
        display: block; } }
    .old-ie .header .header-img {
      display: block; }
  @media (min-width: 768px) {
    .header .header-img-mbl {
      display: none; } }
  .old-ie .header .header-img-mbl {
    display: none; }
  .header .navbar {
    width: 100%;
    background: url(../images/nav_bg.png); }
    @media (min-width: 768px) {
      .header .navbar {
        position: absolute;
        z-index: 899;
        top: 0;
        left: 0; } }
    .old-ie .header .navbar {
      position: absolute;
      z-index: 899;
      top: 0;
      left: 0; }
    .header .navbar ul.sitenav {
      list-style: none;
      margin: 0;
      padding: 10px 0 10px 120px; }
      @media (min-width: 480px) {
        .header .navbar ul.sitenav {
          padding: 0 0 0 120px; } }
      .old-ie .header .navbar ul.sitenav {
        padding: 0 0 0 120px; }
      .header .navbar ul.sitenav li {
        display: block; }
        @media (min-width: 480px) {
          .header .navbar ul.sitenav li {
            float: left; } }
        .old-ie .header .navbar ul.sitenav li {
          float: left; }
        .header .navbar ul.sitenav li a {
          opacity: .80;
          filter: alpha(opacity=80);
          -ms-filter: "alpha(opacity=$value)";
          -khtml-opacity: .80;
          -moz-opacity: .80;
          color: #fff;
          font-size: 1em; }
          @media (min-width: 480px) {
            .header .navbar ul.sitenav li a {
              display: block;
              padding: 20px; } }
          .old-ie .header .navbar ul.sitenav li a {
            display: block;
            padding: 20px; }
          .header .navbar ul.sitenav li a:hover {
            opacity: .99;
            filter: alpha(opacity=99);
            -ms-filter: "alpha(opacity=$value)";
            -khtml-opacity: .99;
            -moz-opacity: .99;
            background: #383f44; }
      .header .navbar ul.sitenav li.active a {
        opacity: .99;
        filter: alpha(opacity=99);
        -ms-filter: "alpha(opacity=$value)";
        -khtml-opacity: .99;
        -moz-opacity: .99;
        color: #fff;
        background: #383f44;
        font-family: 'toyota_displaybold', sans-serif; }

.main {
  padding: 40px 0px; }
  .main .container {
    padding: 0 10px; }
  .main .content {
    line-height: 1.4em; }
    @media (min-width: 768px) {
      .main .content .column_half {
        width: 49%;
        float: left;
        padding-right: 20px;
        border-right: 2px solid #fff; } }
    .old-ie .main .content .column_half {
      width: 49%;
      float: left;
      padding-right: 20px;
      border-right: 2px solid #fff; }
    .main .content .column_half_last {
      margin-top: 20px; }
      @media (min-width: 768px) {
        .main .content .column_half_last {
          width: 49%;
          float: right;
          margin-top: 0; } }
      .old-ie .main .content .column_half_last {
        width: 49%;
        float: right;
        margin-top: 0; }
    .main .content .column_two_third {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .main .content .column_two_third {
          width: 68%;
          float: left;
          margin: 0; } }
      .old-ie .main .content .column_two_third {
        width: 68%;
        float: left;
        margin: 0; }
    @media (min-width: 768px) {
      .main .content .column_one_third {
        width: 28%;
        float: right; } }
    .old-ie .main .content .column_one_third {
      width: 28%;
      float: right; }
    .main .content .content-block {
      margin-bottom: 20px; }
      .main .content .content-block:last-of-type {
        margin-bottom: 0; }

.footer {
  background: #231c23;
  color: #fff;
  padding: 40px 0; }
  .footer .container {
    padding: 0 10px; }
  .footer a {
    color: #fff;
    font-size: 0.9em; }
  .footer ul.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 47%;
    float: left; }
    @media (min-width: 768px) {
      .footer ul.footer-nav {
        width: 20%; } }
    .old-ie .footer ul.footer-nav {
      width: 20%; }
    .footer ul.footer-nav li {
      margin: 10px 0; }
      .footer ul.footer-nav li a {
        color: #7e8a96; }
        .footer ul.footer-nav li a:hover {
          color: #fff; }

ul.car-list li {
  display: block;
  width: 100%; }
  @media (min-width: 480px) {
    ul.car-list li {
      width: 48%;
      float: left;
      margin-right: 4%; }
      ul.car-list li:nth-child(2n) {
        margin-right: 0; }
      ul.car-list li:nth-child(2n+1) {
        clear: both; } }
  .old-ie ul.car-list li {
    width: 48%;
    float: left;
    margin-right: 4%; }
    .old-ie ul.car-list li:nth-child(2n) {
      margin-right: 0; }
    .old-ie ul.car-list li:nth-child(2n+1) {
      clear: both; }
  @media (min-width: 768px) {
    ul.car-list li {
      width: 170px;
      margin-right: 10px; }
      ul.car-list li:nth-child(2n) {
        margin-right: 10px; }
      ul.car-list li:nth-child(2n+1) {
        clear: none; }
      ul.car-list li:nth-child(4n) {
        margin-right: 0; }
      ul.car-list li:nth-child(4n+1) {
        clear: both; } }
  .old-ie ul.car-list li {
    width: 170px;
    margin-right: 10px; }
    .old-ie ul.car-list li:nth-child(2n) {
      margin-right: 10px; }
    .old-ie ul.car-list li:nth-child(2n+1) {
      clear: none; }
    .old-ie ul.car-list li:nth-child(4n) {
      margin-right: 0; }
    .old-ie ul.car-list li:nth-child(4n+1) {
      clear: both; }
  @media (min-width: 1024px) {
    ul.car-list li {
      width: 227px; } }
  .old-ie ul.car-list li {
    width: 227px; }
  @media (min-width: 1280px) {
    ul.car-list li {
      width: 270px; } }
  .old-ie ul.car-list li {
    width: 270px; }

.grid-block {
  position: relative; }
  .grid-block h4 {
    position: relative;
    z-index: 799;
    display: block;
    text-align: center;
    font-family: 'toyota_displaybold', sans-serif;
    background: #231c23;
    color: #fff;
    padding: 15px;
    font-size: 1.1em;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .grid-block h4:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #ededef;
    border-bottom-color: #ededef;
    border-width: 10px;
    margin-left: -10px;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .grid-block h4.hover {
    background: #d74700; }
  .grid-block .caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/car-hover.png);
    width: 100%;
    height: 100%;
    z-index: 699; }
    .grid-block .caption .inner {
      padding: 5px; }
      @media (min-width: 1024px) {
        .grid-block .caption .inner {
          padding: 10px; } }
      .old-ie .grid-block .caption .inner {
        padding: 10px; }
      .grid-block .caption .inner ul.car-specs li {
        display: block;
        float: none;
        width: 100%;
        margin: 5px 0;
        font-size: 0.7em; }
        @media (min-width: 768px) {
          .grid-block .caption .inner ul.car-specs li {
            margin: 0; } }
        .old-ie .grid-block .caption .inner ul.car-specs li {
          margin: 0; }
        @media (min-width: 1024px) {
          .grid-block .caption .inner ul.car-specs li {
            font-size: 0.8em;
            margin: 5px 0; } }
        .old-ie .grid-block .caption .inner ul.car-specs li {
          font-size: 0.8em;
          margin: 5px 0; }
        @media (min-width: 1280px) {
          .grid-block .caption .inner ul.car-specs li {
            font-size: 1em;
            margin: 12px 0; } }
        .old-ie .grid-block .caption .inner ul.car-specs li {
          font-size: 1em;
          margin: 12px 0; }
  .grid-block .thumb {
    padding: 10px;
    background: #ededef; }
  .grid-block.hover h4 {
    background-color: #d74700;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -ms-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .grid-block.hover h4:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(215, 71, 0, 0);
    border-bottom-color: #d74700;
    border-width: 10px;
    margin-left: -10px; }

#map-canvas {
  position: relative;
  z-index: 499;
  width: 100%;
  height: 320px; }
  @media (min-width: 768px) {
    #map-canvas {
      height: 480px; } }
  .old-ie #map-canvas {
    height: 480px; }
  #map-canvas img {
    width: auto;
    max-width: none;
    height: auto;
    display: auto; }

table.contact_table tr {
  border-bottom: 1px solid #4e5459; }
  table.contact_table tr:last-of-type {
    border-bottom: 0; }
  table.contact_table tr td {
    padding: 5px 0; }

p.border-top {
  border-top: 1px solid #4e5459;
  padding: 10px 0 0; }
