.clearfix {
    zoom:1;
    &:before, &:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

img.no-resp{
    width: auto;
    height: auto;
}

.gray_box{
    @include border-radius(10px, 10px, 10px, 10px);
    padding: 20px;
    background: #e9e9e9;

    @include breakpoint(tablet){
        padding: 40px;
    }
}

.blue_box{
    @extend .gray_box;
    background: #3a4146;
    padding: 20px;
    color: #fff;
    font-size: 0.8em;

    h2{
        color: #fff;
    }

    table{
        width: 100%;
    }
}

.btn{
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    background: #868286;
    color: #fff;
    font-family: 'toyota_displaybold', sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    @include border-radius();
    text-align: center;

    @include breakpoint(tablet){
        width: auto;
        display: inline-block;
        text-align: left;
        padding: 15px 35px;
    }

    &:hover{
        background: #231c23;
    }
}

.btn-big{
    padding: 15px 35px;
}

span.label{
    @include border-radius();
    font-size: 0.8em;
    color: #fff;
    padding: 0px 4px;
    margin-right: 5px;
    text-transform: uppercase;
}

span.label.red{
    background: #ed0000;
}

span.label.gray{
    background: #6b6b6b;
}

span.label.white{
    background: #fff;
    color: #000;
}

span.label.black{
    background: #000;
}

span.label.blue{
    background: #4182c4;
}

span.hyblabel {
    @include border-radius();
    font-size: 0.5em;
    color: #fff;
    padding: 0px 4px;
    margin-right: 5px;
    text-transform: uppercase;
}

span.label.orange {
    background: #ff512d;
}

span.label.electrogrey {
    background: #545559;
}
 
span.label.trueblue {
    background: #a5c2e5;
}
 
span.label.pearl {
    background: #d7dcd9; 
    color: #000;
}
 
span.label.greymetallic {
    background: #dbded1;
}
 
span.label.bronze {
    background: #b8afa2;
}
 
span.label.bronzelc {
    background: #6b5e4d;
}
 
span.label.green {
    background: #132603;
}
 
span.label.silver {
    background: #f2f2f0; 
    color: #000;
}
 
span.label.darkblue {
    background: #616678;
}
 
span.label.darkbrown {
    background: #2c1e0d;
}

span.label.blue,span.hyblabel.blue {
    background: #4182c4;
}

span.hyblabel.after {
    margin-right: 0;
    margin-left: 10px;
    float: right !important;
}


span.label.after{
    margin-right: 0;
    margin-left: 10px;
}