/* ========================= INIT ========================= */

@import "reset",
		"mixins",
		"extends"
		;


/* ========================= GRID ========================= */

.container{
	@extend .clearfix;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	width: 320px;

	@include breakpoint(mobile-ls){
		width: 90%;
	}

	@include breakpoint(tablet){
		width: 730px;
	}

	@include breakpoint(tablet-ls){
		width: 958px;
	}

	@include breakpoint(desktop){
		width: 1130px;
	}
}


/* ========================= TYPOGRAPHY ========================= */

@font-face {
    font-family: 'toyota_displaybold';
    src: url('../fonts/toyotadisplay_0-webfont.eot');
    src: url('../fonts/toyotadisplay_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/toyotadisplay_0-webfont.woff') format('woff'),
         url('../fonts/toyotadisplay_0-webfont.ttf') format('truetype'),
         url('../fonts/toyotadisplay_0-webfont.svg#toyota_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'toyota_displayregular';
    src: url('../fonts/toyotadisplay_rg-webfont.eot');
    src: url('../fonts/toyotadisplay_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/toyotadisplay_rg-webfont.woff') format('woff'),
         url('../fonts/toyotadisplay_rg-webfont.ttf') format('truetype'),
         url('../fonts/toyotadisplay_rg-webfont.svg#toyota_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: 'PT Sans', sans-serif;
	font-size: 0.9em;
}

a{
	text-decoration: none;
	@include transition(all, 0.2s, ease-in-out);

	&:hover{
		
	}
}

strong{
	font-family: 'toyota_displayregular', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'toyota_displaybold', sans-serif;
	//font-weight: 700;
	margin-bottom: 10px;
}

h1{
	color: #231c23;
	font-size: 1.3em;
	line-height: 1.2em;

	@include breakpoint(tablet){
		font-size: 1.4em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1.5em;
		line-height: 1.4em;
	}
}

h2{
	color: #b50023;
	font-size: 1.2em;
	line-height: 1.1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.3em;
		line-height: 1.1em;
	}
}

.red{
	color: #b50023;
}

h3{
	font-size: 1.1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.2em;
		line-height: 1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.3em;
		line-height: 1.2em;
	}
}

h4{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.1em;
		line-height: 1em;
	}	

	@include breakpoint(desktop){
		font-size: 1.2em;
		line-height: 1.1em;
	}
}

h5{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1.1em;
		line-height: 1em;
	}
}

h6{
	font-size: 1em;
	line-height: 1em;

	@include breakpoint(tablet){
		font-size: 1.3em;
		line-height: 1.2em;
	}	

	@include breakpoint(desktop){
		font-size: 1em;
		line-height: 1em;
	}
}

p{
	margin-bottom: 15px;

	&:last-of-type{
		margin-bottom: 0;
	}
}

/* ========================= GLOBAL ========================= */

*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	min-height: 100%;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.topbar{
	font-size: 0.8em;

	.container{
		position: relative;
	}

	img.site-logo{
		position: absolute;
		z-index: 999;
	}

	ul.lang-select{
		float: right;
		list-style: none;
		margin: 0;
		padding: 20px 0;

		li{
			display: block;
			float: left;
			@include opacity(60);
			
			a{
				display: block;
				float: left;
				padding: 10px 20px 8px 40px;
				margin-right: 1px;
				background-color: #e9e9e9;
				color: #989b9e;
				//font-weight: 700;
				font-family: 'toyota_displaybold', sans-serif;
			}
		}

		li.active{
			@include opacity(99);
			
			a{
				color: #3c4349;
			}
		}

		li.nl{

			a{
				background: url(../images/flag-nl.jpg) 15px center no-repeat #e9e9e9;
			}
		}

		li.fr{

			a{
				background: url(../images/flag-fr.jpg) 15px center no-repeat #e9e9e9;
			}
		}
	
		li:first-of-type{

			a{
				@include border-radius(10px, 0, 0, 10px);
			}
		}

		li:last-of-type{

			a{
				margin-right: 0;
				@include border-radius(0, 10px, 10px, 0);
			}
		}
	}
}

.header{
	position: relative;

	.header-img{
		display: none;
		@include breakpoint(tablet){
			display: block;
		}
	}

	.header-img-mbl{
		@include breakpoint(tablet){
			display: none;
		}
	}

	.navbar{
		width: 100%;
		background: url(../images/nav_bg.png);

		@include breakpoint(tablet){
			position: absolute;
			z-index: 899;
			top: 0;
			left: 0;
		}

		ul.sitenav{
			list-style: none;
			margin: 0;
			padding: 10px 0 10px 120px;

			@include breakpoint(mobile-ls){
				padding: 0 0 0 120px;
			}

			li{
				display: block;

				
				@include breakpoint(mobile-ls){
					float: left;
				}

				a{
					@include opacity(80);
					color: #fff;
					font-size: 1em;

					@include breakpoint(mobile-ls){
						display: block;
						padding: 20px;
					}

					&:hover{
						@include opacity(99);
						background: #383f44;
					}
				}
			}

			li.active{

				a{
					@include opacity(99);
					//font-weight: 700;
					color: #fff;
					background: #383f44;
					font-family: 'toyota_displaybold', sans-serif;
				}
			}
		}
	}
}

.main{
	padding: 40px 0px;

	.container{
		padding: 0 10px;
	}

	.content{
		line-height: 1.4em;

		.column_half{
			@include breakpoint(tablet){
				width: 49%;
				float: left;
				padding-right: 20px;
				border-right: 2px solid #fff;
			}
		}

		.column_half_last{
			margin-top: 20px;

			@include breakpoint(tablet){
				width: 49%;
				float: right;
				margin-top: 0;
			}
		}

		.column_two_third{
			margin-bottom: 20px;
			@include breakpoint(tablet){
				width: 68%;
				float: left;
				margin: 0;
			}
		}

		.column_one_third{
			@include breakpoint(tablet){
				width: 28%;
				float: right;
			}
		}

		.content-block{
			margin-bottom: 20px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}

.footer{
	@extend .clearfix;
	background: #231c23;
	color: #fff;
	padding: 40px 0;

	.container{
		padding: 0 10px;
	}

	a{
		color: #fff;
		font-size: 0.9em;
	}

	ul.footer-nav{
		list-style: none;
		margin: 0;
		padding: 0;
		width: 47%;
		float: left;

		@include breakpoint(tablet){
			width: 20%;
		}

		li{
			margin: 10px 0;
			
			a{
				color: #7e8a96;

				&:hover{
					color: #fff;
				}
			}
		}
	}
}

ul.car-list{

	li{
		display: block;
		width: 100%;

		@include breakpoint(mobile-ls){
			width: 48%;
			float: left;
			margin-right: 4%;
		
			&:nth-child(2n){
				margin-right: 0;
			}

			&:nth-child(2n+1){
				clear: both;
			}
		}

		@include breakpoint(tablet){
			width: 170px;
			margin-right: 10px;

			&:nth-child(2n){
				margin-right: 10px;
			}

			&:nth-child(2n+1){
				clear: none;
			}

			&:nth-child(4n){
				margin-right: 0;
			}

			&:nth-child(4n+1){
				clear: both;
			}
		}

		@include breakpoint(tablet-ls){
			width: 227px;
		}

		@include breakpoint(desktop){
			width: 270px;
		}
	}
}

.grid-block {
	position: relative;

	h4{
		position: relative;
		z-index: 799;
		display: block;
		text-align: center;
		font-family: 'toyota_displaybold', sans-serif;
		background: #231c23;
		color: #fff;
		padding: 15px;
		font-size: 1.1em;
		@include transition( 0.2s, ease-in-out, all);
	}

	h4:after{
		bottom: 100%; 
		left: 50%;
		border: solid transparent; content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(237, 237, 239, 1);
		border-bottom-color: #ededef;
		border-width: 10px;
		margin-left: -10px;
		@include transition( 0.2s, ease-in-out, all);
	}

	h4.hover{
		background: #d74700;
	}

	.caption {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: url(../images/car-hover.png);
		width: 100%;
		height: 100%;
		z-index: 699;

		.inner{
			padding: 5px;

			@include breakpoint(tablet-ls){
				padding: 10px;
			}

			ul.car-specs{

				li{
					display: block;
					float: none;
					width: 100%;
					margin: 5px 0;
					font-size: 0.7em;

					@include breakpoint(tablet){
						margin: 0;
					}

					@include breakpoint(tablet-ls){
						font-size: 0.8em;
						margin: 5px 0;
					}

					@include breakpoint(desktop){
						font-size: 1em;
						margin: 12px 0;
					}
				}
			}
		}
	}

	.thumb{
		padding: 10px;
		background: #ededef;
	}

	&.hover{

		h4{
			background-color: #d74700;
			@include transition(0.2s, ease-in-out, all);
		}

		h4:after{
			bottom: 100%; 
			left: 50%;
			border: solid transparent; content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(215, 71, 0, 0);
			border-bottom-color: #d74700;
			border-width: 10px;
			margin-left: -10px;
		}
	}
}

#map-canvas {
	position: relative;
	z-index: 499;
	width: 100%;
	height: 320px;

	@include breakpoint(tablet){
		height: 480px;
	}

	img{
		width: auto;
		max-width: none;
		height: auto;
		display: auto;
	}
}

table.contact_table{

	tr{
		border-bottom: 1px solid #4e5459;

		&:last-of-type{
			border-bottom: 0;
		}
		td{
			padding: 5px 0;
		}
	}
}

p.border-top{
	border-top: 1px solid #4e5459;
	padding: 10px 0 0;
}